<a href="https://colab.research.google.com/github/ProteintechLab/Statistics/blob/main/anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
library(tidyverse)
library(readxl)
library(broom)

##load the data

In [ ]:
%%R
download.file("https://raw.githubusercontent.com/toryn13//Rexamples/main/IL6.xlsx", "IL6.xlsx")

In [ ]:
%%R
IL6<-read_excel("IL6.xlsx")
IL6$Conc<-(IL6$Conc)/1000

In [ ]:
%%R
IL6$Day<-factor(IL6$Day)

###Make a group column

In [ ]:
%%R
IL6$group<-factor(paste0(IL6$Treat,"_",IL6$Day))
str(IL6)

tibble [15 × 4] (S3: tbl_df/tbl/data.frame)
 $ Treat: chr [1:15] "Control" "Control" "Control" "PHA" ...
 $ Conc : num [1:15] 0.111 0.111 0.107 18.534 19.611 ...
 $ Day  : Factor w/ 2 levels "1","3": 1 1 1 1 1 1 1 1 2 2 ...
 $ group: Factor w/ 4 levels "Control_1","Control_3",..: 1 1 1 3 3 3 3 3 2 2 ...

#One-way ANOVA

In [ ]:
%%R
IL6.aov <- aov(Conc ~ group, data = IL6)
# Summary of the analysis
tidy(IL6.aov)

# A tibble: 2 × 6
  term         df  sumsq  meansq statistic   p.value
  <chr>     <dbl>  <dbl>   <dbl>     <dbl>     <dbl>
1 group         3 3615.  1205.        293.  9.05e-11
2 Residuals    11   45.3    4.12       NA  NA

In [ ]:
%%R
aLM <- lm(Conc ~ group, data = IL6)
summary(aLM)

Call:
lm(formula = Conc ~ group, data = IL6)

Residuals:
    Min      1Q  Median      3Q     Max
-5.2580 -0.1682  0.0002  0.5517  2.8573

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)     0.10971    1.17153   0.094    0.927
groupControl_3 -0.01568    1.65679  -0.009    0.993
groupPHA_1     19.64656    1.48188  13.258 4.15e-08 ***
groupPHA_3     38.47864    1.54979  24.828 5.20e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.029 on 11 degrees of freedom
Multiple R-squared:  0.9876,	Adjusted R-squared:  0.9843
F-statistic: 292.7 on 3 and 11 DF,  p-value: 9.053e-11

In [ ]:
%%R
tidy(TukeyHSD(IL6.aov, which = "group"))

# A tibble: 6 × 7
  term  contrast            null.value estimate conf.low conf.high adj.p.value
  <chr> <chr>                    <dbl>    <dbl>    <dbl>     <dbl>       <dbl>
1 group Control_3-Control_1          0  -0.0157    -5.00      4.97    1.00e+ 0
2 group PHA_1-Control_1              0  19.6       15.2      24.1     2.13e- 7
3 group PHA_3-Control_1              0  38.5       33.8      43.1     1.32e-10
4 group PHA_1-Control_3              0  19.7       15.2      24.1     2.11e- 7
5 group PHA_3-Control_3              0  38.5       33.8      43.2     1.31e-10
6 group PHA_3-PHA_1                  0  18.8       14.7      22.9     1.37e- 7

#Two-way ANOVA

In [ ]:
%%R
IL6.aov2 <- aov(Conc ~ Day * Treat, data = IL6)
tidy(IL6.aov2)

# A tibble: 4 × 6
  term         df  sumsq  meansq statistic   p.value
  <chr>     <dbl>  <dbl>   <dbl>     <dbl>     <dbl>
1 Day           1  351.   351.        85.3  1.62e- 6
2 Treat         1 2946.  2946.       715.   2.32e-11
3 Day:Treat     1  318.   318.        77.3  2.64e- 6
4 Residuals    11   45.3    4.12      NA   NA

In [ ]:
%%R
a2LM <- lm(Conc ~ Day +Treat, data = IL6)
summary(a2LM)

Call:
lm(formula = Conc ~ Day + Treat, data = IL6)

Residuals:
   Min     1Q Median     3Q    Max
-5.633 -4.287 -1.216  5.573  7.077

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   -5.516      2.661  -2.073  0.06037 .
Day3          11.237      2.852   3.939  0.00197 **
TreatPHA      28.648      2.905   9.863 4.16e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 5.503 on 12 degrees of freedom
Multiple R-squared:  0.9007,	Adjusted R-squared:  0.8842
F-statistic: 54.44 on 2 and 12 DF,  p-value: 9.573e-07