<a href="https://colab.research.google.com/github/ProteintechLab/Statistics/blob/main/data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext rpy2.ipython

# This line of code allows Colab to interpret R commands

In [2]:
%%R
library(tidyverse)
library(readxl)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
%%R
download.file("https://raw.githubusercontent.com/toryn13//Rexamples/main/IL6plate.xls","IL6plate.xls")

## Wide to long format

In [5]:
%%R
standards<-read_excel("IL6plate.xls", range = "A14:D22")
colnames(standards)<-c("cell", "Conc", "rep1", "rep2")

New names:
• `` -> `...1`
• `` -> `...4`

In [8]:
%%R
standards

# A tibble: 8 × 4
  cell    Conc  rep1  rep2
  <chr>  <dbl> <dbl> <dbl>
1 A       0    0.054 0.052
2 B       7.81 0.134 0.126
3 C      15.6  0.183 0.187
4 D      31.2  0.307 0.31
5 E      62.5  0.548 0.553
6 F     125    0.953 0.949
7 G     250    1.68  1.65
8 H     500    2.59  2.54

In [6]:
%%R
standardsL<-pivot_longer(standards, starts_with("rep"), names_to = "replicate", values_to = "Abs")

In [7]:
%%R
standardsL

# A tibble: 16 × 4
   cell    Conc replicate   Abs
   <chr>  <dbl> <chr>     <dbl>
 1 A       0    rep1      0.054
 2 A       0    rep2      0.052
 3 B       7.81 rep1      0.134
 4 B       7.81 rep2      0.126
 5 C      15.6  rep1      0.183
 6 C      15.6  rep2      0.187
 7 D      31.2  rep1      0.307
 8 D      31.2  rep2      0.31
 9 E      62.5  rep1      0.548
10 E      62.5  rep2      0.553
11 F     125    rep1      0.953
12 F     125    rep2      0.949
13 G     250    rep1      1.68
14 G     250    rep2      1.65
15 H     500    rep1      2.59
16 H     500    rep2      2.54

### Long to wide format

In [9]:
%%R
standardsL%>%pivot_wider(names_from = "replicate", values_from = "Abs")

# A tibble: 8 × 4
  cell    Conc  rep1  rep2
  <chr>  <dbl> <dbl> <dbl>
1 A       0    0.054 0.052
2 B       7.81 0.134 0.126
3 C      15.6  0.183 0.187
4 D      31.2  0.307 0.31
5 E      62.5  0.548 0.553
6 F     125    0.953 0.949
7 G     250    1.68  1.65
8 H     500    2.59  2.54