<a href="https://colab.research.google.com/github/ProteintechLab/Statistics/blob/main/importexport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

# This line of code allows Colab to interpret R commands

In [ ]:
%%R #This tells python that we are coding in R
install.packages("readxl")
library(readxl)
install.packages("tidyr")
library(tidyr)
install.packages("dplyr")
library(dplyr)
library(ggplot2)
# These load in the tidyverse, dplyr and read excel packages

In [ ]:
%%R
download.file("https://github.com/ProteintechLab/Statistics/raw/main/IL6plate.xls", "IL6plate.xls")

# This downloads the IL6plate data set from our github and stores it as IL6plate.xlsx

In [ ]:
%%R
standards<-read_excel("IL6plate.xls", range = "A14:D22")
colnames(standards)<-c("cell", "Conc", "rep1", "rep2")

# This line imports the A14:D22 cells in the IL6plate excel sheet, storing them as 'standards'.
# colnames() labels the column, in this case as cell, Conc, rep1 and rep2

New names:
• `` -> `...1`
• `` -> `...4`

In [ ]:
%%R
standardsL<-pivot_longer(standards, starts_with("rep"), names_to = "replicate", values_to = "Abs")

# This code pivots the data to a long format, collecting all columns that start with 'rep'
# and assigning the values to absorbance. This groups all rep1 and rep2 values under the heading
# replicate, and displays their value as Abs. This new dataset is stored as standardsL

In [ ]:
%%R
standardsW<-standardsL%>%pivot_wider(names_from = replicate , values_from = Abs )

# This code re-formats the long-format data back into the wide format, ungrouping the 'replicate'
# back into rep1 and rep2, taking the values for these from the Abs heading.
# In this case, standardsW will be the same as standards as standards is already in the wide format,
# but it is useful to know how to manipulate your data from long to wide

In [ ]:
%%R
standards

# A tibble: 8 × 4
  cell    Conc  rep1  rep2
  <chr>  <dbl> <dbl> <dbl>
1 A       0    0.054 0.052
2 B       7.81 0.134 0.126
3 C      15.6  0.183 0.187
4 D      31.2  0.307 0.31
5 E      62.5  0.548 0.553
6 F     125    0.953 0.949
7 G     250    1.68  1.65
8 H     500    2.59  2.54

In [ ]:
%%R
standardsW

# A tibble: 8 × 4
  cell    Conc  rep1  rep2
  <chr>  <dbl> <dbl> <dbl>
1 A       0    0.054 0.052
2 B       7.81 0.134 0.126
3 C      15.6  0.183 0.187
4 D      31.2  0.307 0.31
5 E      62.5  0.548 0.553
6 F     125    0.953 0.949
7 G     250    1.68  1.65
8 H     500    2.59  2.54

In [ ]:
%%R
standardsL

# A tibble: 16 × 4
   cell    Conc replicate   Abs
   <chr>  <dbl> <chr>     <dbl>
 1 A       0    rep1      0.054
 2 A       0    rep2      0.052
 3 B       7.81 rep1      0.134
 4 B       7.81 rep2      0.126
 5 C      15.6  rep1      0.183
 6 C      15.6  rep2      0.187
 7 D      31.2  rep1      0.307
 8 D      31.2  rep2      0.31
 9 E      62.5  rep1      0.548
10 E      62.5  rep2      0.553
11 F     125    rep1      0.953
12 F     125    rep2      0.949
13 G     250    rep1      1.68
14 G     250    rep2      1.65
15 H     500    rep1      2.59
16 H     500    rep2      2.54