<a href="https://colab.research.google.com/github/ProteintechLab/Statistics/blob/main/ttest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
library(tidyverse)
library(readxl)
library(broom)

#load the data

In [ ]:
%%R
download.file("https://raw.githubusercontent.com/toryn13//Rexamples/main/IL6.xlsx", "IL6.xlsx")

In [ ]:
%%R
IL6<-read_excel("IL6.xlsx")
IL6$Conc<-(IL6$Conc)/1000

In [ ]:
tibble [15 × 3] (S3: tbl_df/tbl/data.frame)
 $ Treat: chr [1:15] "Control" "Control" "Control" "PHA" ...
 $ Conc : num [1:15] 0.111 0.111 0.107 18.534 19.611 ...
 $ Day  : num [1:15] 1 1 1 1 1 1 1 1 3 3 ...

In [ ]:
%%R
str(IL6)

tibble [15 × 3] (S3: tbl_df/tbl/data.frame)
 $ Treat: chr [1:15] "Control" "Control" "Control" "PHA" ...
 $ Conc : num [1:15] 0.111 0.111 0.107 18.534 19.611 ...
 $ Day  : num [1:15] 1 1 1 1 1 1 1 1 3 3 ...

In [ ]:
%%R
IL6$Day<-factor(IL6$Day)

In [ ]:
tibble [15 × 4] (S3: tbl_df/tbl/data.frame)
 $ Treat: chr [1:15] "Control" "Control" "Control" "PHA" ...
 $ Conc : num [1:15] 0.111 0.111 0.107 18.534 19.611 ...
 $ Day  : Factor w/ 2 levels "1","3": 1 1 1 1 1 1 1 1 2 2 ...
 $ group: Factor w/ 4 levels "Control_1","Control_3",..: 1 1 1 3 3 3 3 3 2 2 ...

In [ ]:
%%R
IL6$group<-factor(paste0(IL6$Treat,"_",IL6$Day))
str(IL6)

tibble [15 × 4] (S3: tbl_df/tbl/data.frame)
 $ Treat: chr [1:15] "Control" "Control" "Control" "PHA" ...
 $ Conc : num [1:15] 0.111 0.111 0.107 18.534 19.611 ...
 $ Day  : num [1:15] 1 1 1 1 1 1 1 1 3 3 ...
 $ group: Factor w/ 4 levels "Control_1","Control_3",..: 1 1 1 3 3 3 3 3 2 2 ...

In [ ]:
%%R
IL6$group

 [1] Control_1 Control_1 Control_1 PHA_1     PHA_1     PHA_1     PHA_1
 [8] PHA_1     Control_3 Control_3 Control_3 PHA_3     PHA_3     PHA_3
[15] PHA_3
Levels: Control_1 Control_3 PHA_1 PHA_3

In [ ]:
%%R
IL6_day3<-IL6%>%filter(Day=="3")

In [ ]:
%%R
dim(IL6_day3)

[1] 7 4

In [ ]:
%%R
IL6_day3

# A tibble: 7 × 3
  Treat      Conc   Day
  <chr>     <dbl> <dbl>
1 Control  0.0877     3
2 Control  0.100      3
3 Control  0.0942     3
4 PHA     33.3        3
5 PHA     39.7        3
6 PHA     39.9        3
7 PHA     41.4        3

In [ ]:
%%R
t_test(Conc~group, data=IL6_day3, var.equal = FALSE)

In [ ]:
	Two Sample t-test

data:  Conc by Treat
t = -6.641, df = 13, p-value = 1.61e-05
alternative hypothesis: true difference in means between group Control and group PHA is not equal to 0
95 percent confidence interval:
 -37.14077 -18.90766
sample estimates:
mean in group Control     mean in group PHA
            0.1018694            28.1260859

In [ ]:
%%R
t.test(Conc~Treat, data=IL6, paired = FALSE, var.equal = TRUE)

In [ ]:
#t.test(pre~post, data=IL6, paired = TRUE, var.equal = FALSE)